/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(194, 198, 177, 0.87);
  background-color: hotpink;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */


/* navbar Text size */
.navbar a {
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
  
}
/* navbar hover color */
.navbar a:hover {
  color: black;
}

.navbar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(21, 24, 1, 0.5);
  text-align: center;
}


body {
background-color: lightyellow;
margin: 0;
min-height: 100vh;
display: flex;
place-items: center;
}


h1 {
  color:maroon;
  text-shadow: 2px 2px 4px rgba(14, 18, 37, 0.5);
  font-size: 4.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:white;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #941212;
  }
} */
